apiVersion: v1
kind: Service
metadata:
  name: {{ include "fhir-server.fullname" . }}-grpc
  labels:
    {{- include "fhir-server.labels" . | nindent 4 }}
    app.kubernetes.io/component: grpc
  {{- with .Values.grpcService.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.grpcService.type }}
  ports:
    - port: {{ .Values.grpcService.port }}
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    {{- include "fhir-server.selectorLabels" . | nindent 4 }}
